In [3]:
import pandas as pd

In [105]:
df_2015 = pd.read_csv("../data/2015.csv")
df_2016 = pd.read_csv("../data/2016.csv")
df_2017 = pd.read_csv("../data/2017.csv")
df_2018 = pd.read_csv("../data/2018.csv")
df_2019 = pd.read_csv("../data/2019.csv")

In [16]:
print("Columns 2015: ", df_2015.columns, "\n")
print("Columns 2016: ", df_2016.columns, "\n")
print("Columns 2017: ", df_2017.columns, "\n")
print("Columns 2018: ", df_2018.columns, "\n")
print("Columns 2019: ", df_2019.columns)

Columns 2015:  Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

Columns 2016:  Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

Columns 2017:  Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

Columns 2018:  Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

Columns 2019:  Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [50]:
print(df_2015.shape)
print(df_2016.shape)
print(df_2017.shape)
print(df_2018.shape)
print(df_2019.shape)

(158, 13)
(157, 14)
(155, 13)
(156, 11)
(156, 11)

In [106]:
df_2015.rename(columns={
    'Happiness Rank': 'Happiness Rank',
    'Happiness Score': 'Score',
    'Economy (GDP per Capita)': 'GDP per capita',
    'Family': 'Social support',
    'Health (Life Expectancy)': 'Healthy life expectancy',
    'Freedom': 'Freedom to make life choices',
    'Trust (Government Corruption)': 'Perceptions of corruption',
    'Generosity': 'Generosity',
    'Dystopia Residual': 'Dystopia Residual' 
}, inplace=True)
df_2015['year'] = 2015

df_2016.rename(columns={
    'Happiness Rank': 'Happiness Rank',
    'Happiness Score': 'Score',
    'Lower Confidence Interval': 'Lower Confidence Interval',
    'Upper Confidence Interval': 'Upper Confidence Interval',
    'Economy (GDP per Capita)': 'GDP per capita',
    'Family': 'Social support',
    'Health (Life Expectancy)': 'Healthy life expectancy',
    'Freedom': 'Freedom to make life choices',
    'Trust (Government Corruption)': 'Perceptions of corruption',
    'Generosity': 'Generosity',
    'Dystopia Residual': 'Dystopia Residual'
}, inplace=True)
df_2016['year'] = 2016

df_2017.rename(columns={
    'Happiness.Rank': 'Happiness Rank',
    'Happiness.Score': 'Score',
    'Whisker.high': 'Whisker high',
    'Whisker.low': 'Whisker low',
    'Economy..GDP.per.Capita.': 'GDP per capita',
    'Family': 'Social support',
    'Health..Life.Expectancy.': 'Healthy life expectancy',
    'Freedom': 'Freedom to make life choices',
    'Generosity': 'Generosity',
    'Trust..Government.Corruption.': 'Perceptions of corruption',
    'Dystopia.Residual': 'Dystopia Residual'
}, inplace=True)
df_2017['year'] = 2017

df_2018.rename(columns={
    'Overall rank': 'Happiness Rank',
    'Country or region': 'Country',
    'Score': 'Score',
    'GDP per capita': 'GDP per capita',
    'Social support': 'Social support',
    'Healthy life expectancy': 'Healthy life expectancy',
    'Freedom to make life choices': 'Freedom to make life choices',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Perceptions of corruption'
}, inplace=True)
df_2018['year'] = 2018

df_2019.rename(columns={
    'Overall rank': 'Happiness Rank',
    'Country or region': 'Country',
    'Score': 'Score',
    'GDP per capita': 'GDP per capita',
    'Social support': 'Social support',
    'Healthy life expectancy': 'Healthy life expectancy',
    'Freedom to make life choices': 'Freedom to make life choices',
    'Generosity': 'Generosity',
    'Perceptions of corruption': 'Perceptions of corruption'
}, inplace=True)
df_2019['year'] = 2019

In [48]:
df_2017

,Country,Happiness Rank,Score,Whisker high,Whisker low,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Dystopia Residual,year
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,2017
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,2017
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,Rwanda,151,3.471,3.543030,3.398970,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061,2017
151,Syria,152,3.462,3.663669,3.260331,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574,2017
152,Tanzania,153,3.349,3.461430,3.236570,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130,2017
153,Burundi,154,2.905,3.074690,2.735310,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024,2017
154,Central African Republic,155,2.693,2.864884,2.521116,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005,2017

In [23]:
df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

In [24]:
df

,Country,Region,Happiness Rank,Score,Standard Error,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual,year,Lower Confidence Interval,Upper Confidence Interval,Whisker high,Whisker low
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015,NaN,NaN,NaN,NaN
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015,NaN,NaN,NaN,NaN
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,2015,NaN,NaN,NaN,NaN
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,2015,NaN,NaN,NaN,NaN
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,2015,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
777,Rwanda,NaN,152,3.334,NaN,0.35900,0.71100,0.61400,0.55500,0.41100,0.21700,NaN,2019,NaN,NaN,NaN,NaN
778,Tanzania,NaN,153,3.231,NaN,0.47600,0.88500,0.49900,0.41700,0.14700,0.27600,NaN,2019,NaN,NaN,NaN,NaN
779,Afghanistan,NaN,154,3.203,NaN,0.35000,0.51700,0.36100,0.00000,0.02500,0.15800,NaN,2019,NaN,NaN,NaN,NaN
780,Central African Republic,NaN,155,3.083,NaN,0.02600,0.00000,0.10500,0.22500,0.03500,0.23500,NaN,2019,NaN,NaN,NaN,NaN
781,South Sudan,NaN,156,2.853,NaN,0.30600,0.57500,0.29500,0.01000,0.09100,0.20200,NaN,2019,NaN,NaN,NaN,NaN

In [25]:
df.isna().sum()

Country                           0
Region                          467
Happiness Rank                    0
Score                             0
Standard Error                  624
GDP per capita                    0
Social support                    0
Healthy life expectancy           0
Freedom to make life choices      0
Perceptions of corruption         1
Generosity                        0
Dystopia Residual               312
year                              0
Lower Confidence Interval       625
Upper Confidence Interval       625
Whisker high                    627
Whisker low                     627
dtype: int64

In [173]:
region_dict_2016 = df_2016[['Country', 'Region']].drop_duplicates().set_index('Country').to_dict()['Region']

df_2017['Region'].fillna(df_2017['Country'].map(region_dict_2016), inplace=True)
df_2018['Region'].fillna(df_2018['Country'].map(region_dict_2016), inplace=True)
df_2019['Region'].fillna(df_2019['Country'].map(region_dict_2016), inplace=True)

df = pd.concat([df_2015, df_2016, df_2017, df_2018, df_2019], ignore_index=True)

In [174]:
df.isna().sum()

Country                           0
Region                            8
Happiness Rank                    0
Score                             0
Standard Error                  624
GDP per capita                    0
Social support                    0
Healthy life expectancy           0
Freedom to make life choices      0
Perceptions of corruption         1
Generosity                        0
Dystopia Residual               312
year                              0
Lower Confidence Interval       625
Upper Confidence Interval       625
Whisker high                    627
Whisker low                     627
dtype: int64

In [143]:
df['Region'].unique()

array(['Western Europe', 'North America', 'Australia and New Zealand',
       'Middle East and Northern Africa', 'Latin America and Caribbean',
       'Southeastern Asia', 'Central and Eastern Europe', 'Eastern Asia',
       'Sub-Saharan Africa', 'Southern Asia', nan], dtype=object)

In [177]:
region_mapping = {
    'Taiwan Province of China': 'Eastern Asia',
    'Hong Kong S.A.R., China': 'Eastern Asia',
    'Mozambique': 'Sub-Saharan Africa',
    'Lesotho': 'Sub-Saharan Africa',
    'Central African Republic': 'Sub-Saharan Africa',
    'Trinidad & Tobago': 'Latin America and Caribbean',
    'Northern Cyprus': 'Western Europe',
    'North Macedonia': 'Central and Eastern Europe',
    'Gambia': 'Sub-Saharan Africa'
}

df['Region'] = df['Region'].fillna(df['Country'].map(region_mapping))

In [178]:
df.isna().sum()

Country                           0
Region                            0
Happiness Rank                    0
Score                             0
Standard Error                  624
GDP per capita                    0
Social support                    0
Healthy life expectancy           0
Freedom to make life choices      0
Perceptions of corruption         1
Generosity                        0
Dystopia Residual               312
year                              0
Lower Confidence Interval       625
Upper Confidence Interval       625
Whisker high                    627
Whisker low                     627
dtype: int64

In [172]:
df_2016[df_2016['Country'].str.contains('Belize')]

,Country,Region,Happiness Rank,Score,Lower Confidence Interval,Upper Confidence Interval,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual,year
51,Belize,Latin America and Caribbean,52,5.956,5.71,6.202,0.87616,0.68655,0.45569,0.51231,0.10771,0.23684,3.08039,2016

In [171]:
df[df['Region'].isna()]

,Country,Region,Happiness Rank,Score,Standard Error,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Perceptions of corruption,Generosity,Dystopia Residual,year,Lower Confidence Interval,Upper Confidence Interval,Whisker high,Whisker low
347,Taiwan Province of China,NaN,33,6.422,NaN,1.433627,1.384565,0.793984,0.361467,0.063829,0.258360,2.126607,2017,NaN,NaN,6.494596,6.349404
364,Belize,NaN,50,5.956,NaN,0.907975,1.081418,0.450192,0.547509,0.096581,0.240016,2.631956,2017,NaN,NaN,6.197242,5.714757
385,"Hong Kong S.A.R., China",NaN,71,5.472,NaN,1.551675,1.262791,0.943062,0.490969,0.293934,0.374466,0.554633,2017,NaN,NaN,5.549594,5.394406
407,Somalia,NaN,93,5.151,NaN,0.022643,0.721151,0.113989,0.602127,0.282410,0.291631,3.117485,2017,NaN,NaN,5.242484,5.059516
425,Namibia,NaN,111,4.574,NaN,0.964434,1.098471,0.338612,0.520304,0.093147,0.077134,1.481890,2017,NaN,NaN,4.770355,4.377645
461,South Sudan,NaN,147,3.591,NaN,0.397249,0.601323,0.163486,0.147062,0.116794,0.285671,1.879567,2017,NaN,NaN,3.725539,3.456462
507,Trinidad & Tobago,NaN,38,6.192,NaN,1.223000,1.492000,0.564000,0.575000,0.019000,0.171000,NaN,2018,NaN,NaN,NaN,NaN
527,Northern Cyprus,NaN,58,5.835,NaN,1.229000,1.211000,0.909000,0.495000,0.154000,0.179000,NaN,2018,NaN,NaN,NaN,NaN
664,Trinidad & Tobago,NaN,39,6.192,NaN,1.231000,1.477000,0.713000,0.489000,0.016000,0.185000,NaN,2019,NaN,NaN,NaN,NaN
689,Northern Cyprus,NaN,64,5.718,NaN,1.263000,1.252000,1.042000,0.417000,0.162000,0.191000,NaN,2019,NaN,NaN,NaN,NaN
709,North Macedonia,NaN,84,5.274,NaN,0.983000,1.294000,0.838000,0.345000,0.034000,0.185000,NaN,2019,NaN,NaN,NaN,NaN
745,Gambia,NaN,120,4.516,NaN,0.308000,0.939000,0.428000,0.382000,0.167000,0.269000,NaN,2019,NaN,NaN,NaN,NaN